@page
@model TailwindDotnetStarter.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TailwindDotnetStarter</title>
    <link rel="stylesheet" href="~/css/app.min.css" />
</head>
<body>

<main class="container mx-auto">
<h1 class="text-red-500">Hello world</h1>

</main>

</body>
</html>